.home
  .content-container
    display: flex
    margin: 0 auto
    margin-top: 15px
    width: 960px
    .content-left
      flex: 0 0 625px
      margin-left: 15px
    .content-right
      flex: 1 1 auto
