._3vSq7cF-5N-cokRFzoPqLZ {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 80px;
  height: 50px;
  background: #2F4F4F; }
  ._3vSq7cF-5N-cokRFzoPqLZ .lBrWt8bR7S4TfaIRypRiP {
    height: 30px; }
  ._3vSq7cF-5N-cokRFzoPqLZ ._1MGoEf3Gsk8r37krH1kTR- {
    display: flex;
    justify-content: space-around;
    width: 200px;
    font-size: 14px;
    color: #ccc; }
    ._3vSq7cF-5N-cokRFzoPqLZ ._1MGoEf3Gsk8r37krH1kTR- a:link {
      color: #ccc; }
    ._3vSq7cF-5N-cokRFzoPqLZ ._1MGoEf3Gsk8r37krH1kTR- a:visited {
      color: #ccc; }
    ._3vSq7cF-5N-cokRFzoPqLZ ._1MGoEf3Gsk8r37krH1kTR- a:hover {
      color: #fff; }
    ._3vSq7cF-5N-cokRFzoPqLZ ._1MGoEf3Gsk8r37krH1kTR- a:active {
      color: #ccc; }

._15w8DEA5w0eHfA6Biw7mx5 {
  border-color: #ccc;
  border-radius: 2px;
  background: #fff; }
  ._15w8DEA5w0eHfA6Biw7mx5 ._2E2nIdRvtzMNzKvOlnIHzG ._2NoZrUuwrvoxGUH0Ey01rk {
    display: flex;
    padding-left: 10px;
    font-size: 14px;
    background: #eee; }
    ._15w8DEA5w0eHfA6Biw7mx5 ._2E2nIdRvtzMNzKvOlnIHzG ._2NoZrUuwrvoxGUH0Ey01rk a {
      padding: 1px 4px;
      border-radius: 4px; }
    ._15w8DEA5w0eHfA6Biw7mx5 ._2E2nIdRvtzMNzKvOlnIHzG ._2NoZrUuwrvoxGUH0Ey01rk a:link {
      color: #6495ED; }
    ._15w8DEA5w0eHfA6Biw7mx5 ._2E2nIdRvtzMNzKvOlnIHzG ._2NoZrUuwrvoxGUH0Ey01rk a:visited {
      color: #6495ED; }
    ._15w8DEA5w0eHfA6Biw7mx5 ._2E2nIdRvtzMNzKvOlnIHzG ._2NoZrUuwrvoxGUH0Ey01rk a:hover {
      color: #008080; }
    ._15w8DEA5w0eHfA6Biw7mx5 ._2E2nIdRvtzMNzKvOlnIHzG ._2NoZrUuwrvoxGUH0Ey01rk a:active {
      color: #008080; }
  ._15w8DEA5w0eHfA6Biw7mx5 ._2E2nIdRvtzMNzKvOlnIHzG li {
    margin: 14px 12px; }
    ._15w8DEA5w0eHfA6Biw7mx5 ._2E2nIdRvtzMNzKvOlnIHzG li ._3YxKuMukyQbzK-JyR-lyRa {
      color: #fff !important;
      background: #6495ED; }
  ._15w8DEA5w0eHfA6Biw7mx5 ._3g0W4hfUrssArDscoX2J8S ._3lVjHgeuO7bbXTfU2X0Oqh .CHUhbCyVDTcN0bMD7IHVm {
    position: relative;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #ddd; }
    ._15w8DEA5w0eHfA6Biw7mx5 ._3g0W4hfUrssArDscoX2J8S ._3lVjHgeuO7bbXTfU2X0Oqh .CHUhbCyVDTcN0bMD7IHVm ._38FTcjZzS9ktKLBscj7Wav {
      width: 30px;
      height: 30px; }
      ._15w8DEA5w0eHfA6Biw7mx5 ._3g0W4hfUrssArDscoX2J8S ._3lVjHgeuO7bbXTfU2X0Oqh .CHUhbCyVDTcN0bMD7IHVm ._38FTcjZzS9ktKLBscj7Wav img {
        border-radius: 4px; }
    ._15w8DEA5w0eHfA6Biw7mx5 ._3g0W4hfUrssArDscoX2J8S ._3lVjHgeuO7bbXTfU2X0Oqh .CHUhbCyVDTcN0bMD7IHVm .xY7k4R4gb2OqgJhqymYGR {
      font-size: 14px; }
    ._15w8DEA5w0eHfA6Biw7mx5 ._3g0W4hfUrssArDscoX2J8S ._3lVjHgeuO7bbXTfU2X0Oqh .CHUhbCyVDTcN0bMD7IHVm ._3JC1WM_1aOZwoK39QsKmOz {
      display: flex;
      align-items: center;
      margin-left: 6px;
      font-size: 16px;
      color: #444; }
      ._15w8DEA5w0eHfA6Biw7mx5 ._3g0W4hfUrssArDscoX2J8S ._3lVjHgeuO7bbXTfU2X0Oqh .CHUhbCyVDTcN0bMD7IHVm ._3JC1WM_1aOZwoK39QsKmOz ._1MdWX7deM6u098L_gwzG_6, ._15w8DEA5w0eHfA6Biw7mx5 ._3g0W4hfUrssArDscoX2J8S ._3lVjHgeuO7bbXTfU2X0Oqh .CHUhbCyVDTcN0bMD7IHVm ._3JC1WM_1aOZwoK39QsKmOz ._3goUh3U1AGPMEfhl3vXj7X {
        margin-right: 6px;
        padding: 3px 4px;
        font-size: 12px;
        border-radius: 3px; }
      ._15w8DEA5w0eHfA6Biw7mx5 ._3g0W4hfUrssArDscoX2J8S ._3lVjHgeuO7bbXTfU2X0Oqh .CHUhbCyVDTcN0bMD7IHVm ._3JC1WM_1aOZwoK39QsKmOz ._1MdWX7deM6u098L_gwzG_6 {
        color: #fff;
        background: #6495ED; }
      ._15w8DEA5w0eHfA6Biw7mx5 ._3g0W4hfUrssArDscoX2J8S ._3lVjHgeuO7bbXTfU2X0Oqh .CHUhbCyVDTcN0bMD7IHVm ._3JC1WM_1aOZwoK39QsKmOz ._3goUh3U1AGPMEfhl3vXj7X {
        color: #888;
        background: #eee; }
    ._15w8DEA5w0eHfA6Biw7mx5 ._3g0W4hfUrssArDscoX2J8S ._3lVjHgeuO7bbXTfU2X0Oqh .CHUhbCyVDTcN0bMD7IHVm ._3gEJARXvJhP-FflkzqlPsY {
      position: absolute;
      right: 10px;
      font-size: 12px;
      color: #888; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  text-decoration: none; }


/*# sourceMappingURL=styles.chunk.css.map*/