@import '../../assets/scss/theme';

.car-list {
  border-radius: 5px;
  box-shadow: 4px 4px 6px #dbd9eb;
  background: #e6e9f2;
  .car-brand {
    .brand-item {
      .brand-letter {
        padding: 6px 10px;
        font-size: $font-default-size;
        color: $text-color;
        border-bottom: 1px solid #e6e9f2;
      }
      .car-type {
        background: #fff;
        .type-item {
          padding: 0 10px;
          display: flex;
          align-items: center;
          min-height: 36px;
          border-bottom: 1px solid #e6e9f2;
        }
        .sign {
          flex: 0 0 40px;
        }
        .name {
          margin-left: 10px;
          font-size: $font-default-size;
        }
      }
    }
  }
}
