.tags
  color: #000
  .tagsContainer
    display: flex
    height: 40px
    justify-content: space-around
    align-items: center
    border-bottom: 1px solid #eee
    .tagItem
      display: flex
      align-items: center
      height: 40px
      color: #3c86f2
      border-bottom: 1px solid #3c86f2